<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Using Yahoo! Web Services for Search</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
<link rel="icon" type="image/ico" href="http://rubylearning.com/images/favicon.ico" />
</head>

<body>
<div>

<h1>Using Yahoo! Web Services for Search</h1>
<p>I'm sorry but this Web Service is not accessible from the folder you typed in.</p>
<p>The correct URL is: <a href="http://blooming-window-92.heroku.com/">http://blooming-window-92.heroku.com/</a></p>
</div>
<div id="footer">
  <p><b>A Fun Sinatra App by Rubylearning</b>.</p>
</div>
</body>
</html>