<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Using Yahoo! Web Service for Search</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
<link rel="icon" type="image/ico" href="http://rubylearning.com/images/favicon.ico" />
</head>

<body>
<div>
<h1>Using Yahoo! Web Service for Search</h1>

<h2>Note:</h2>
<p>We shall use this <b>Sinatra</b> app to access Yahoo! Web Services for searching a given string.</p>
<p>The response from the Yahoo! Web Service is in XML format. By including the REXML library one is able to handle the XML Response in a more readable way.</p>
<p>Type a string (like "satish talim") below, and this web service will find the details.</p>

<form action="/display" method="post" accept-charset="utf-8">
  <input type="text" name="post[iname]" value="Enter a search string:" id="iname" />
  <input type="text" name="post[iresult]" value="How many results?" id="iresult" />
  
  <input type="submit" value="Get Details" />
  <input type="reset" value="Start over" />
</form>
</div>
<div id="footer">
  <ul>
  <li><a href="http://github.com/RLGGHC/sinatra_yws/tree/master" target="_blank">Source code</a></li>
  <li><a href="http://rubylearning.com/blog/2008/04/25/yahoo-web-services-in-ruby/" target="_blank">Explanation</a></li>
  </ul>
  <p><b>A Fun Sinatra App by Rubylearning</b>.</p>
</div>
</body>
</html>